.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 5px solid;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px var(--border-color);
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
  }
  
  .grid-cell:hover {
    box-shadow: 0 0 20px var(--border-color);
  }
  